@use "./variables" as *;

* {
   padding: 0;
   margin: 0; 
}

header {
    margin: 1.5rem;
    .navbar {
        display: flex;
        justify-content: space-between;


        .nav__name {
            font-size: 1.25rem;
            display: block;
            text-align: center;

            span {
                color: $accent-color;
            }
        }   
    }
}


body {
    // margin: 1.5rem;
    background-color: $background-color;
    color: $text-color;
    font-family: 'Cormorant', serif;
    font-weight: 400;

    main {
        margin: 1.5rem;
    }

    h2 {
        font-size: 3.8rem;
        margin: 20px 0px 20px 0px;
    }

    hr {
        width: 80px;
        border: solid $accent-color 2px;
        border-radius: 5%;
    } 

    p {
        font-family: 'Inter', sans-serif;
        margin: 20px 0px 20px 0px;
    }
}

#description {
    margin: 20px 0px 20px 0px;
    width: 306px;
}

.project__card {  
    width: 100%;
    
    .project__info{
        height: 7%;
        background-color: dodgerblue;
    }    
    
    .project__image {          
        background-color: $project-color;
        height: 50%;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 426px) {  
  
    .navbar .nav__links a.icon {
        display: none;
    }  

    .navbar .nav__links {
        & a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 8px 16px;
            text-decoration: none;
            font-size: 1rem;
        }  
    }

}

.nav__links a {
    display: none;
}
a.icon {       
    float: right;
    display: block;      
}

#card4, #card5, #card6 {
    display: none;
}

.about__image {
    text-align: center;
}

#self-portrait {
    width: 50%;
}

@media screen and (min-width: 769px) {
    #card4, #card5, #card6 {
        display: block;
    }


    .project__container {
        height: 50%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem; 
        
        .project__info{
            height: 20%;
        }

        .project__image{
            height:70%;
        }
    }

    
    .about__container {
        padding: 1% 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0fr 1fr 0fr;
        row-gap: 10px;
        grid-template-areas: 
        "title image" 
        "text image" 
        "exp interests";
    }

    .about__title {
        grid-area: title;
        padding-left: 40px;
    }

    .about__image {
        grid-area: image;
        text-align: left;
    }

    .about__text {
        grid-area: text;
        padding: 0px 40px 0px 40px;
        text-align: left;
    }

    .about__exp {
        grid-area: exp;
        padding: 0px 40px 0px 40px;
    }

    .about__interests {
        grid-area: interests;
        padding: 0px 40px 0px 0px;
    }
}

.exp__row {
    border-bottom: 1px solid $border-color;
}

.interests__row {
    border-bottom: 1px solid $border-color;
}

.expand-button {
    float: right;
}

footer button {
    border-radius: 50%;
    width: 3.438rem;
    height: 3.438rem;
    background-color: $footer-link-color;
    color: $accent-color;
    margin: 2%;
    border: none;

    i {
        font-size: 1.75rem;
    }
}

.external__links {   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $project-color;
    height: 100px;
}
