@use "./styles/variables" as *;
@use "./styles/navbar" as *;
@use "./styles/contact" as *;
@use "./styles/footer" as *;

* {
   padding: 0;
   margin: 0; 
   box-sizing: border-box;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: 'Cormorant', serif;
    font-weight: 400;

    main {
        margin: 1.5rem;
    }

    h2 {
        font-size: 3.8rem;
        margin: 20px 0px 20px 0px;
    }

    h3 {
        font-size: 2rem;
        margin: 50px 0px 30px 0px;
    }

    h5 {
        font-size: 1.5rem;
        margin: 20px 0px 20px 0px;
    }

    hr {
        width: 80px;
        border: solid $accent-color 2px;
        border-radius: 5%;
    } 

    p {
        font-family: 'Inter', sans-serif;
        margin: 20px 0px 20px 0px;
    }
}
@media screen and (min-width: 768px) {
    body {
        main {
            margin: 4rem;
        }   
    }
}

.description {
    margin: 20px 0px 20px 0px;
    max-width: 377px;
}

.project__card {  
    width: 100%;
    margin-bottom: 20px;
    
    h4 {
        font-size: 1.5rem;
    }
    
    .project__info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 6%;
        background-color: dodgerblue;

        .project__heading {
            display: flex;
            justify-content: space-between;

            button {
                margin: 0 5px 0 5px;
                height: 1.75rem;
                width: 1.75rem;
                border-radius: 50%;
                border: none;
                text-decoration: none;
                cursor: pointer;
                background-color: $project-icon-color;
                color: $text-color;

                i {
                    font-size: 1rem;
                    font-weight: bold;
                }
                
            }
        }

        .project__tags {
            button {
                margin: 0 5px 0 0;
                height: 1.75rem;
                width: 80px;
                border: none;
                text-decoration: none;
                background-color: $project-icon-color;
                color: $text-color;
            }
        }
    }    
    
    .project__image {          
        background-color: $project-color;
        height: 30%;
        margin-bottom: 10px;
    }
}

#card4, #card5, #card6 {
    display: none;
}

.about__container {
    margin: 100px 0px 100px 0px;
    
    .about__image {
        text-align: center;
    }

    #self-portrait {
        width: 100%;
        margin: 50px 0px 50px 0px;
    }

    .exp__row {
        border-bottom: 1px solid $border-color;
    }

    .interests__row {
        border-bottom: 1px solid $border-color;
    }

    .expand-button {
        float: right;
    }
}

@media screen and (min-width: 768px) {
    #card4, #card5, #card6 {
        display: block;
    }

    .project__container {
        height: 100%;
        display: grid;
        margin: 20px 0px 20px 0px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2%; 
        
        .project__info{
            height: 15%;
        }

        .project__image{
            height:calc(85% - 10px) ;
        }
    }

    .about__container {
        padding: 1% 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0fr 1fr 0fr;
        row-gap: 10px;
        grid-template-areas: 
        "title image" 
        "text image" 
        "exp interests";
    }

    .about__title {
        grid-area: title;
        padding-left: 40px;

        h3 {
            margin: 0px 0px 20px 0px;
        }
        
    }

    .about__image {
        grid-area: image;
        margin: 0px 0px 0px 0px;
        
        #self-portrait {
            width: 100%;
            margin: 0px;
        }
    }

    .about__text {
        grid-area: text;
        padding: 0px 40px 0px 40px;
        text-align: left;
    }

    .about__exp {
        grid-area: exp;
        padding: 0px 40px 0px 40px;
    }

    .about__interests {
        grid-area: interests;
        padding: 0px 40px 0px 0px;
    }
}



