header {
  margin: 1.5rem;
}
header .navbar {
  display: flex;
  justify-content: space-between;
}
header .navbar .nav__name {
  font-size: 1.25rem;
  display: block;
  text-align: center;
}
header .navbar .nav__name span {
  color: #D9BEA5;
}

.nav__links a {
  display: none;
}

a.icon {
  float: right;
  display: block;
}

@media screen and (min-width: 426px) {
  .navbar .nav__links a.icon {
    display: none;
  }
  .navbar .nav__links a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1rem;
  }
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container .contact__info {
  font-size: 3.8rem;
  font-family: "Cormorant", sans-serif;
  text-align: center;
}
.contact-container .contact__button {
  width: 75%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2C2A2A;
  color: white;
  font-family: "Cormorant", serif;
  font-weight: 400;
}
body main {
  margin: 1.5rem;
}
body h2 {
  font-size: 3.8rem;
  margin: 20px 0px 20px 0px;
}
body h3 {
  font-size: 2rem;
  margin: 50px 0px 30px 0px;
}
body h5 {
  font-size: 1.5rem;
  margin: 20px 0px 20px 0px;
}
body hr {
  width: 80px;
  border: solid #D9BEA5 2px;
  border-radius: 5%;
}
body p {
  font-family: "Inter", sans-serif;
  margin: 20px 0px 20px 0px;
}

#description {
  margin: 20px 0px 20px 0px;
  max-width: 377px;
}

.project__card {
  width: 100%;
}
.project__card h4 {
  font-size: 1.5rem;
}
.project__card .project__info {
  height: 7%;
  background-color: dodgerblue;
}
.project__card .project__image {
  background-color: #3B3636;
  height: 30%;
  margin-bottom: 10px;
}

#card4, #card5, #card6 {
  display: none;
}

@media screen and (min-width: 768px) {
  #card4, #card5, #card6 {
    display: block;
  }
  .project__container {
    height: 100%;
    display: grid;
    margin: 20px 0px 20px 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2%;
  }
  .project__container .project__info {
    height: 15%;
  }
  .project__container .project__image {
    height: calc(85% - 10px);
  }
  .about__container {
    padding: 1% 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0fr 1fr 0fr;
    row-gap: 10px;
    grid-template-areas: "title image" "text image" "exp interests";
  }
  .about__title {
    grid-area: title;
    padding-left: 40px;
  }
  .about__image {
    grid-area: image;
  }
  .about__image #self-portrait {
    width: 100%;
  }
  .about__text {
    grid-area: text;
    padding: 0px 40px 0px 40px;
    text-align: left;
  }
  .about__exp {
    grid-area: exp;
    padding: 0px 40px 0px 40px;
  }
  .about__interests {
    grid-area: interests;
    padding: 0px 40px 0px 0px;
  }
}
.about__container {
  margin: 100px 0px 100px 0px;
}
.about__container .about__image {
  text-align: center;
}
.about__container #self-portrait {
  width: 100%;
}
.about__container .exp__row {
  border-bottom: 1px solid #5C5C5C;
}
.about__container .interests__row {
  border-bottom: 1px solid #5C5C5C;
}
.about__container .expand-button {
  float: right;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #453F3F;
  color: #D9BEA5;
  margin: 2%;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
footer a i {
  font-size: 1.75rem;
}

.external__links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3B3636;
  height: 100px;
}/*# sourceMappingURL=styles.css.map */