@use "./variables" as *;

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .contact__info {
        font-size: 3.8rem;
        font-family: 'Cormorant', sans-serif;
        text-align: center;
    }

    .contact__button {
        width:75%
    }
}