@use "./variables" as *;
.project__card {  
    width: 100%;
    margin-bottom: 20px;
    
    h4 {
        font-size: 1.5rem;
    }
    
    .project__info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 6%;

        .project__heading {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            button {
                margin: 0 5px 0 5px;
                height: 1.75rem;
                width: 1.75rem;
                border-radius: 50%;
                border: none;
                text-decoration: none;
                cursor: pointer;
                background-color: $project-icon-color;
                color: $text-color;

                i {
                    font-size: 1rem;
                    font-weight: bold;
                }
                
            }
        }

        .project__tags {
            button {
                margin: 0 5px 5px 0;
                height: 1.75rem;
                width: 80px;
                border: none;
                text-decoration: none;
                background-color: $project-icon-color;
                color: $text-color;
            }
        }
    }    
    
    .project__image {          
        background-color: $project-color;
        height: 30%;
        margin-bottom: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        
        img {
            width:100%;
            object-fit: cover;
        }
    }
}

#card4, #card5, #card6 {
    display: none;
}

@media screen and (min-width: 768px) {
    #card4, #card5, #card6 {
        display: block;
    }

    .project__container {
        height: 100%;
        display: grid;
        margin: 20px 0px 20px 0px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2%; 
        
        .project__info{
            height: 15%;
        }

        .project__image{
            height:calc(85% - 10px) ;
        }
    }
}